@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background-color: #101727;
}

.badge-container {
    display: flex;
    bottom: 20px;
    flex: 0 0 auto;
    height: auto;
    left: 20px;
    position: fixed;
    width: auto;
    z-index: 1;
}

.badge-container a {
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    background-color: rgb(0, 0, 0);
    border-radius: 54.3478% / 238.095%;
    filter: grayscale(1);
    transform: none;
    transform-origin: 50% 50% 0px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1em;
    color: #fff;
    padding: 12px;
    text-decoration: none;
}

.badge {
    display: flex;
    align-items: center;
}

.badge img {
    width: 21px;
    height: 17px;
    image-rendering: pixelated;
    flex-shrink: 0;
    fill: black;
    color: black;
    transform: none;
    transform-origin: 50% 50% 0px;
    padding-right: 5px;
}

.badge p {
    margin: 0;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}
